.navbar {
    text-align: center !important;
    background-color: rgb(71, 62, 62);
    max-width: 100;
}

#main {
    border:solid 3px #000 !important;
   
}


#search-form {
    float: left;
    background-color: silver;
}

.btn {
    background-color: blue;
}

.container-fluid {
    border:solid 3px grey;
    background-color: mediumaquamarine;
}

.main {
    border-block-width: 1px;
    border-block-color: black;
}

.weathercard {
    padding:20px;
    background-color: blue;
}

.mikeheader {font:15pt verdana; color:black; padding:15px}